.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    min-width: 600px;
    min-height: 400px;
    max-height: 90vh;
    height: 650px;
    max-width: 80vw;
    flex-shrink: 1;
    border-radius: 16px;
    background: #000;
}
.modalHeader {

}
.modalHeader .closeButton {

}